
{% block content %}

	{% include "Admin/sidebar.html.twig" %}

	<!-- contenu principal -->
	<div class="main">
		<h1>Transit</h1>
		<!-- bouton Ajouter -->
		<button class="btn btn-primary" >Ajouter</button>
		<!-- Form -->
			<div class="formpopup">
				<form action="/admintransit/add" class="form-container" method="POST">
					    <label for="train_id">Numero de train</label>
						<select name="train_id" id="train" name="train_id" required />
							{% for train in trains %}
                        		<option value="{{ train.id }}">{{ train.number }}</option>
                    		{% endfor %}
						</select>
                        <label for="station_id">Station</label>
						<select name="station_id" id="station" name="station_id" required />
							{% for station in stations %}
                        		<option value="{{ station.id }}">{{ station.name }}</option>
                    		{% endfor %}
						</select> 
                        <label for="transit_time">Time</label>
						<input type="time" placeholder="transit_time" name="transit_time" required />
                        <label for="destination">Destination</label>
						<input type="text" placeholder="destination" name="destination" required />
					<button type="submit" class="btn">Ajouter</button>
				</form>
			</div>
		<!-- table CRUD -->
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>train_id</th>
					<th>station_id</th>
					<th>transit_time</th>
					<th>destination</th>
					<th>Action</th>


				</tr>
			</thead>
			<tbody>
			{% for transit in transits %}
				<tr>
					<td>
						{{ transit.id }}
					</td>
					<td>
                        {{ transit.train_id }}
                    </td>
                    <td>
                        {{ transit.station_id }}
                    </td>
                    <td>
                        {{ transit.transit_time }}
                    </td>
                    <td>
                        {{ transit.destination }}
                    </td>
					<td>
						<button class="btn btn-primary">Editer</button>
						<form action="/admintransit/delete" method="POST">
							<input type="hidden" name="id" value="{{ transit.id }}">
							<button>Supprimer</button>
						</form>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% block javascript %}<script src="/assets/js/script.js"></script>{% endblock %}
		{% endblock %}