{% extends 'layout.html.twig' %}

{% block content %}

    
    <h1>Gare de {{ testest.name }}</h1>
    <div class = 'container col-md-6 mx-auto' >
    <div class = "row" >
   <div class="d-grid gap-2 col-md-6 cd-6 "  >
    <p>{{ testest.T1 }}</p><br>
    <p>{{ testest.T2 }}</p><br>
    <p>{{ testest.T3 }}</p><br>
    <p>{{ testest.T4 }}</p><br>
    <p>{{ testest.T5 }}</p><br>
   </div>
   </div>
        </div>

{% endblock %}